
:root {
    --clr-primary-200: #824963;
    --clr-primary-500: #cc2a2a;
    --clr-primary-100: #0000ff;
    --clr-primary-900: #808080;
}


* {
    font-family: sans-serif;
    padding: 0;    
}


html, body {
    
    font-size: 1.3125rem;
    line-height: 1.6;
    background: red
}
h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    box-sizing: border-box;
}

.card {    
    padding: 1rem;
    max-width: 100rem;
    margin-inline: auto;
}

.card--clr {
    background: var(--clr-primary-200);
}

.footer--clr {
    background: var(--clr-primary-500);   
}

.header--clr {
    background: var(--clr-primary-100);
}

header {
    border: 3px solid   green;
}

footer {
    border: 3px solid black;
    

}

main {
    border: 3px solid hotpink;
}

