
:root {
    --clr-1: #824963;
    --clr-2: #e10600;
    --clr-3: #0000ff;
    --clr-4: #808080;
    --clr-5: #2d8f85;
    --clr-6: #1d635c;
    --clr-7: #000000;
    --clr-8: #ffffff;
}


* {
    font-family: sans-serif;
    padding: 0;    
}


html, body {
    width: 100%;
    height: 100%;
    font-size: 1.3125rem;
    line-height: 1.6;
    background: var(--clr-5)
}
h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1;
    color: var(--clr-8);
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    box-sizing: border-box;
}

.card {    
    display: grid;
    
    padding: 1rem; 
    margin-inline: auto;
    border: 3px solid orange;
}

.card--clr {
    background: var(--clr-1);
}

.footer--clr {
    background: var(--clr-2);   
}

.header--clr {
    background: var(--clr-2);
}



footer {
    border: 3px solid black;
}

.footer {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 3px;
    
}

main {
    border: 3px solid hotpink;
}

.main-content {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;        
    }

.sidebar--info {
    border: 4px solid yellow;
    margin-inline: auto;
}

@media (min-width: 800px) {
    .main-content {       
        grid-template-columns: 4fr 1fr auto;
    }
}

.card--content {
    background: var(--clr-6);
    height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 6px 4px;           
}

.card--form {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 1rem;     
}

#registry {
    /*padding: 1rem;*/
    margin-top: 1rem;
    margin-left: 1rem;
}

#button {
   position: relative;
   width: 50%;
   top: 2rem;
   left: 25%;
   padding: 0.5rem;  
   /*background: linear-gradient(var(--clr-7), var(--clr-2));*/
   background: var(--clr-2);
   border-top-left-radius: 8em 8em;   
   color: var(--clr-8);
   font-weight: bold;
   text-transform: uppercase;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tm {
    font-size: 0.3em;
    font-weight: 900;
}

#newsletter {
    font-size: 0.6em;
    color: var(--clr-8);
    margin-left: 1rem;
}

.header {    
    position: sticky;
    top: 0px;    
    background: var(--clr-2);
}

.f1logo {
    font-size: 3.3em;
    font-weight: 900;    
}

input {
    border-radius: 8px;
    border: 1px solid black;
}

form {
    gap: 0.3rem;
    display: grid;
}