:root {
    --clr-1: #15151e;
    --clr-2: #e10600;
    --clr-3: #38383f;
    --clr-4: #808080;
    --clr-5: #2d8f85;
    --clr-6: #1d635c;
    --clr-7: #000000;
    --clr-8: #ffffff;
    --clr-9: #f7f4f1;
}

* {
    font-family: sans-serif;
    padding: 0;    
}

html, body {    
    font-size: 1.3125rem;
    line-height: 1.6;
    background: var(--clr-9)
    
}
h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1;
    color: var(--clr-8);
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    box-sizing: border-box;
}

p {
    color: var(--clr-4);
}

.card {    
    display: grid;    
    padding: 1rem; 
    margin-inline: auto;    
}

.card--clr {    
    background: var(--clr-9);
}

.footer--clr {
    background: var(--clr-9);   
}

.header--clr {
    background: var(--clr-2);
}

footer {
    border: 3px solid black;
    background: var(--clr-1);
}

.footer {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 3px;        
}

.main-content {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;        
    }

.sidebar--info {       
    display: grid;  
    place-items: center; 
}

.sidebar--info {
    /*font-size: clamp(0.3rem, 3vh + 1rem, 1rem);*/
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
}

.sidebar--info--text {
    color: var(--clr-7);
    
}

@media (min-width: 800px) {
    .main-content {       
        grid-template-columns: 4fr 1fr auto;
        transition: 1s;
    }
}

@media (max-width: 800px) {
    .f1logo {        
        display: grid;
        place-content: center;        
    }
    .card {              
        width: 70%;
        transition: .2s ease-in;
    }
}

@media (min-width: 1300px) {
    .card {
        transition: .3s;
        padding: 3.3%;        
    }
}

@media (min-width: 800px) {
    p {
        font-size: 1.3em;
        transition: .2s;
        -o-transition: font-size .2s linear;
        -moz-transition: font-size .25s linear;        
        -webkit-transition: font-size .25s linear; 
    }
}

@media (max-width: 799px) {
    p {
        font-size: 1em;
        transition: .2s;
    }
}

.card--content {
    background: var(--clr-8);
    height: 80vh;
    border-radius: 0.5rem;                   
}

.card--content:hover {
    border-bottom: 2.5px solid var(--clr-2);
    border-right: 2.5px solid var(--clr-2);
}

.card--form {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 1rem;  
    margin-top: 1em;    
}

#registry {    
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--clr-7);
}

#button {
   position: relative;
   width: 45%;
   top: 2rem;
   left: 25%;
   padding: 0.5rem;     
   background: var(--clr-2);
   border-top-left-radius: 8em 8em;   
   color: var(--clr-8);
   font-weight: bold;
   text-transform: uppercase;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   transition: transform    1200ms;
   font-size: 0.6em;
}

#button:hover, #button:focus-visible {    
    transition: transform   50ms;
    transform: scale(1.1);    
}

#tm {
    font-size: 0.3em;
    font-weight: 900;
}

#newsletter {
    font-size: 0.6em;
    color: var(--clr-7);
    margin-left: 1rem;
    margin-top: 0.5rem;
}

#newsletter::after {
    color: red;
    content: '>'
}

.header {    
    position: sticky;
    top: 0px;    
    background: var(--clr-2);
}

.f1logo {
    font-size: 3.3em;
    font-weight: 900;    
}

input {
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1.3125rem;
    letter-spacing: 0.6px;
    outline: var(--clr-7);    
}

form {
    gap: 0.3rem;
    display: grid;
    font-size: 1.3125rem;
}

.ftr--f {
    color: var(--clr-4)
}

.ftr--f:hover {
    color: var(--clr-7);
    transition: .5s;
}

.ftr--f {
    margin-left: 1.5rem;
}

