
:root {
    --clr-1: #824963;
    --clr-2: #cc2a2a;
    --clr-3: #0000ff;
    --clr-4: #808080;
    --clr-5: #2d8f85;
    --clr-6: #1d635c;
    --clr-7: #000000;
    --clr-8: #f7ebeb;
}


* {
    font-family: sans-serif;
    padding: 0;    
}


html, body {
    width: 100%;
    height: 100%;
    font-size: 1.3125rem;
    line-height: 1.6;
    background: var(--clr-5)
}
h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    box-sizing: border-box;
}

.card {    
    display: grid;
    
    padding: 1rem; 
    margin-inline: auto;
    border: 3px solid orange;
}

.card--clr {
    background: var(--clr-1);
}

.footer--clr {
    background: var(--clr-2);   
}

.header--clr {
    background: var(--clr-3);
}

header {
    border: 3px solid   green;
}

footer {
    border: 3px solid black;
}

main {
    border: 3px solid hotpink;
}

.main-content {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;        
    }

.sidebar--info {
    border: 4px solid yellow;
}

@media (min-width: 800px) {
    .main-content {       
        grid-template-columns: 4fr 1fr auto;
    }
}

.card--content {
    background: var(--clr-6);
    height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 6px 4px;
        
}

.card--form {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 1rem;  
}

#button {
   position: relative;
   width: 50%;
   top: 2rem;
   left: 25%;
   padding: 0.5rem;  
   background: linear-gradient(var(--clr-7), var(--clr-2));
   border-top-left-radius: 8em 8em;
   color: var(--clr-8);
   font-weight: bold;
   text-transform: uppercase;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}